.App {
  text-align: center;
}

.gauges {
  
}
#lineChart,#pieChart,#barChart {
  width: 70%;
  text-align: center;
  margin-left: 15%;
}
#dataHistory {
  
  border: 1px solid rgb(66, 11, 11);
   border-radius: 2px;
   margin-top: 10px;
   width: 90%;
   margin-left: 5%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#start {
  height: 100px;
  width: 30%;
  margin-left: 35%;

  box-shadow: 1.5px ;
  vertical-align: 50%;
  
  
}
#start>input {
  border: 2px solid brown;
  border-radius: 5px;
  height: 20px;
  width: 100px;
}
#name {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #1976d2;
}
#deviceInfo {
  text-align: center;
}
#backgreound {

}
button {
  width: 120px;
  margin-top: 20px;
  border-radius: 5px;
  height: 25px;
  background-color: rgb(42, 165, 48);

}
#summary {
  margin-bottom: 40px;
  text-align: center;
}
#summary >p {
  margin-left: 10%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
